@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-default), Arial, Helvetica, sans-serif
}

::selection {
  color: white; /* Warna teks */
  background-color: #d7ab6c; /* Warna latar belakang highlight */
}

.article-carousel::-webkit-scrollbar {
  height: 7px;
}

.article-carousel::-webkit-scrollbar-thumb {
  background-color: #d7ab6c;
  border-radius: 10px; 
}

.article-carousel::-webkit-scrollbar-thumb:hover {
  height: 8px;
  background-color: #ac8857; 
}

.article-carousel::-webkit-scrollbar-track {
  background: #f9f2e9;
  border-radius: 10px;
}

.article-carousel {
  padding-bottom: 32px;
}